menu "Configuracion de Hardware"

    config GPIO_SENSOR_HELADERA
        int "GPIO Sensor Heladera (DS18B20)"
        default 32
        help
            Pin de datos para el sensor dentro de la heladera.

    config GPIO_SENSOR_TABLERO
        int "GPIO Sensor Tablero (DS18B20)"
        default 33
        help
            Pin de datos para medir temperatura de la electrónica (compensación).

    config GPIO_AC_VOLTAGE
        int "GPIO Medicion Voltaje (ZMPT101B)"
        default 36
        help
            Canal ADC para voltaje (SENSOR_VP). Ojo: Solo ADC1.

    config GPIO_AC_CURRENT
        int "GPIO Medicion Corriente (ZMCT103C)"
        default 34
        help
            Canal ADC para corriente (SENSOR_VN). Ojo: Solo ADC1.

    config TEMP_COEFF_PPM
        int "Coeficiente de Correccion (ppm/C)"
        default 100
        help
            Ajuste por deriva térmica de los componentes. 
            Ej: Resistencias metal film suelen ser 50-100 ppm.

endmenu